@{
    ViewData["Title"] = "Simulate Front Door Infrastructure";
}

<h1>Simulate Front Door / Web Apps Affinity Cookies</h1>

    <div class="text-center">
        <p><a href="/Simulate/WebAffinity">Web Affinity </a></p>
        <p><a href="/Simulate/FrontDoorAffinity">Front Door Affinity</a></p>
    </div>
